<%= simple_form_for(@recipe_ingredient) do |f| %>
  <%= f.error_notification %>

  <%= @recipe.attachment_as_text %>

<p>1 1/4 cups (6 1/4 ounces) whole almonds, lightlytoasted</p>
<p>2 teaspoons baking powder</p>
<p>1/4 teaspoon salt</p>
<p>4 tablespoons unsalted butter, melted and cooled</p>
<p>1 3/4 cups (8 3/4 ounces) all-purpose flour </p>
<p>1/2 teaspoon vanilla extract </p>
<p>2 t. cornstarch</p>
<p>1 cup coarse dry bread crumbs</p>
<p>1 T choped fresh parsley</p>
<p>1 t. kosher salt</p>
<p>1 t. ground black petter</p>
<p>3 T. olive oil</p>
<p>1 envelope unflavored Gelatine</p>
<p>1 1/4 c canned pumpkin</p>
<p>2 quarts of water</p>
<p>2 c green split peas</p>
<p>2 c boiling water</p>
<p>4 oz. pancetta (Italian bacon), chopped</p>
<p>2 garlic cloves</p>
<p>2 cups low-sodium chicken broth</p>
<p>12 oz. fettucine or linguine</p>
<p>1/2 cup finely grated pecorino, plus shaved for serving</p>
<p></p>
<p>2 large eggs, plus 1 large white beaten withpinch salt</p>
<p>2 boneless, skinless chicken breast halves</p>
<p>2 egg whites</p>
<p>1 carrot</p>
<p>1 stalk celery</p>
<p>1 ham bone</p>
<p>1 small stalk of leak</p>
<p>1 medium potato</p>
<p>2 eggs</p>
<p></p>
<p>juice of 1/2 lemon</p>
<p>Vegetable oil spray</p>
<p>zest of one lemon, minced</p>
<p>kosher salt, freshly ground pepper</p>
<p></p>
<p>1 2-lb kabocha or butternut squash, peeled, seeded, cut into 1/2" pieces (about 3 cups) </p>




  <div class="form-inputs">
    <%= f.input :quantity %>
    <%= f.input :ingredient %>
    <%= f.input :additional_instructions %>
  </div>

  <button type="button" class="btn btn-primary" id="geningredient">Create Ingredient</button>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
