<%= simple_form_for @recipe, html: {multipart: true} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Recipe Name' %>
    <%= f.input :recipe_source, label: 'Where did you get this recipe?' %>
    <%= f.file_field :original_attachment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
